body {
  font-family: "poppins", sans-serif;
  background: rgb(241, 186, 5);
  background: linear-gradient(
    90deg,
    rgba(241, 186, 5, 1) 36%,
    rgba(0, 212, 255, 0.7438375008206408) 87%
  );
  align-content: center;
}
h1 {
  color: grey;
  margin-top: 40px;
  text-align: center;
  font-size: 32px;
}
.input-group {
  margin: 50px 0px;
}
.input-group input {
  height: 40px;
}
/* .btn-add {
  background-color: green;
  color: white;
  padding: 0px 63px;
}
.btn-remove {
  background-color: red;
  color: white;
} */
ul {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}
li {
  position: relative;
  display: block;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid black;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
